<!DOCTYPE html>  
<html lang="en">  
<head>  
 <meta charset="UTF-8">
 <link rel="icon" href="data:;base64,=">
 
 {% block list_header %}
 <title>My_Library</title> 
 {% endblock %}

 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 {% load static %}
 {% block bootstrap_header %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 {% endblock %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
</head>  
<body>
    {% if user.is_authenticated %}
        <p class="text-white"><a class="nav-link" href="{% url 'account_logout' %}" class="a-header"> Log Out</a></p>
        {% else %}
        <p class="my-btn"><a class="nav-link" href="{% url 'account_login' %}" class="a-header"> Log In</a></p>
        <p class="my-btn"><a href="{% url 'common:register' %}" class="a-header"> Registration</a></p>
     {% endif %}
    {% block contentall %}
    {% endblock %}
</body> 
</html>